@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<div class="container">
    <div class="row p-1">
        <div class="col-1">Create Lobby</div>
        <div class="col-1">Lobby Name</div>
        <div class="col-5"><input type="text" id="lobbyNameInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="createLobbyBtn" value="Create Lobby" />
        </div>
    </div>
    <div class="row p-1">
            <div class="col-1">Join Lobby</div>
            <div class="col-1">Lobby Name</div>
            <div class="col-5"><input type="text" id="lobbyNameInputJoin" /></div>
	</div>
    <div class="row p-1">
    <div class="col-6 text-end">
		<input type="button" id="joinLobbyBtn" value="Join Lobby" />
	</div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="lobbyList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/hub.js"></script>